# autogenstudio
anthropic
boto3
# beautifulsoup4
# bleach[css]
celery
channels
channels-redis
daphne
Django
dj-rest-auth
django-allauth
django-cors-headers
django-countries
django-extensions
django-filter
# django-on-heroku
django-ratelimit
django-rest-passwordreset
django-rest-swagger
django-storages
djangorestframework
djangorestframework-simplejwt
dj-database-url
docx2txt
drf-spectacular
drf-yasg
# factory_boy
google-api-python-client
# google-apps-meet
google-auth
google-auth-oauthlib
google-auth-httplib2
# google-cloud-pubsub
# google-cloud-storage
groq
# gunicorn
langchain
langchain-community
langchain-openai
llama-index
markdown
more-itertools
numpy
openai
# open-interpreter
pandas
Pillow
# pinecone-client
# playwright
# pyautogen
# pymongo
pydantic
pyspellchecker
python-decouple
python-docx
python-dotenv
python-Levenshtein
reportlab
scikit-learn
stripe
tabula-py
textblob
textstat
tiktoken  # <0.5.0  # specifically required for open-interpreter at the moment
unstructured[all-docs]  # remove for space atm
psutil
psycopg2-binary
python-docx
